<h1>ショッピングサイト</h1>
<hr>
<% @products.each do |product| %>
  <%= product.name %>
  &ensp;
  <%= product.price %>
  <%= "円" %>
  &ensp;
 
  &ensp;&ensp;
  <%= form_tag cart_items_path(product_id: product.id) do %>
  <%= text_field_tag :qty, 1, size: 2 %>
  <%= submit_tag 'カートに入れる' %>
  <% end %>
  <br/><br/>
<% end %>

<p><%= link_to 'カート', cart_path(current_cart.id) %></p>
<p><%= link_to '商品一覧', products_path %></p>