<h2>カート</h2>

<% total = 0 %>
<% @cart_items.each do |item| %>
  <%= item.product.name %>
  &ensp;&ensp;
  <%= "価格: ¥" %>
  <%= item.product.price %>
  &ensp;&ensp;
  <%= "数量:" %>
  <%= item.qty %>
  &ensp;&ensp;
  <%= link_to '削除', cart_item_path(item), method: :delete %>
  <br/>
  <% total = total + item.product.price.to_i * item.qty.to_i %>
<% end %>
  <br/><hr><br/>
  <%= "合計金額: ¥" %>
  <%= total %>

<br/><br/>

<%= link_to '買い物を続ける', top_main_path %>