<h1>商品一覧</h1>
<hr>
<% @products.each do |p| %>
  <%= p.name %>
  &ensp;
  <%= p.price %>
  <%= "円" %>
  &ensp;&ensp;
  
  <%= link_to '削除', product_path(p), method: :delete %>
  <br/><br/>
<% end %>

<p><%= link_to '新規登録', new_product_path %></p>
<p><%= link_to 'Topページへ', root_path %></p>